.programentry {
  margin-bottom: 120px;
}

.time {
  display: inline-flex;
  border: 3px solid black;
  padding: 10px 15px;
  margin-bottom: 25px;
}
.time p:first-child {
  margin-right: 25px;
}

.type {
  margin-bottom: 20px;
  padding-left: 20px;
}

.title {
  padding-left: 20px;
  margin-bottom: 10px;
}

.author {
  font-size: 1.3em;
  margin-bottom: 40px;
  padding-left: 73px;
  font-weight: 400;
}

.parts {
  margin-bottom: 40px;
}

.description p {
  margin-bottom: 30px;
  padding-left: 73px;
}

/* --------- mobile --------- */

@media (max-width: 699px) {
  .author {
    padding-left: 63px;
  }
  .description p {
    padding-left: 0;
  }
}