.showFinBut {
  position: absolute;
  top: 60vh;
}
.hideFinBut {
  position: fixed;
  top: 3vh;
}

.showFinBut,
.hideFinBut {
  background: none;
  border: 2px solid #eee;
  padding: 7px 12px;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
  text-shadow: 1.5px 1.5px 0px #2f2f2f;
  box-shadow: 1.5px 1.5px 0px #2f2f2f;
  z-index: 1;
  line-height: 1.4em;
  font-family: var(--font-mono);
}

.finissage {
  position: absolute;
  color: #eee;
  background-color: rgba(35, 35, 35, 0.88);
  padding: 40px;
  position: fixed;
  top: 10vh;
  left: 10vw;
  z-index: 2;
  height: 80vh;
  width: 80vw;
  overflow-y: auto;
}

.finissage section {
  margin-bottom: 60px;
}
.finissage section h3 {
  margin-bottom: 0.5em;
}
.finissage section h3::before {
  content: '>>';
}
.finissage section p {
  margin-bottom: 1.2em;
  font-weight: 200;
}
.finissage section ul {
  list-style: none;
  font-weight: 200;
}


/* --------- mobile --------- */

@media (max-width: 699px) {
  .finissage {
    left: 3vw;
    z-index: 2;
    height: 88vh;
    width: 94vw;
    overflow-y: auto;
    font-size: 0.9em;
    padding: 18px 24px;
  }
}
